---
layout: default
title: Ro'ee Levy | Research
publications: active
---

<div class="info">

{% for collection in site.collections %}
	
	{% assign myLabel = collection.label %}
	
	{% assign print-collection = false %}
	{% if myLabel =="publications" %}
		<p><h3><b>Publications</b></h3></p>
		{% assign print-collection = true %}
	{% endif %}
	{% if myLabel=="zin-progress" %}
		<p><h3><b>Work in progress</b></h3></p>
		{% assign print-collection = true %}
	{% endif %}
	{% if myLabel=="working-papers" %}
		<p><h3><b>Working papers</b></h3></p>
		{% assign print-collection = true %}
	{% endif %}
	
	
	{% assign sorted = site.documents | sort: 'order' | reverse %}
	{% for reference in sorted %}

		{% if reference.collection == myLabel %}

		  <p>  <span style="font-size: 20px">
		  {% if reference.link %}
			<a href="{{ reference.link }}" target="_blank">
		  {% endif %}
		    {{ reference.title }}  
		  {% if reference.link %}
			</a>  
		  {% endif %}
		  </span> </br>
		  {% if reference.authors %} 
			 (with {{ reference.authors }}) </br>
		  {% endif %}
			
		  {% if reference.journal %}
			<i>{{ reference.journal }}</i>,
			{% if reference.year %}
				{{ reference.year }}
			{% endif %}
			<br>
		  {% endif %}
  		  {% if reference.award %}
			{{ reference.award }}
		  	<br>
		  {% endif %}
		  {% if reference.coverage %}
			Coverage: {{ reference.coverage }}
		  {% endif %}

	
		  {% if reference.abstract %}
		    <details style="margin-top:-8px">
			<!--- based on https://stackoverflow.com/questions/67495928/missing-disclosure-triangle-when-using-the-summary-tag -->
			<summary  style="display:list-item"> Abstract </summary> 
				{{ reference.content }}
			</details>    
		  {% endif %}


		<br>
		</p>
		{% endif %}				
	{% endfor %}
	
{% endfor %}





